# Quetion no.1

In [1]:
username = input("Enter your name:")
x=" welcome"
print("Your name is:", username , x)

Enter your name:nadeem
Your name is: nadeem  welcome

# Q.2

In [2]:
hrs=input("Enter hour:")
rate=input("Enter Rate per Hour:")
pay=float(hrs)*float(rate)
print("pay:", pay)

Enter hour:4
Enter Rate per Hour:5
pay: 20.0

# Q.3

In [3]:
width = 17
height = 12.0
width//2

8

In [4]:
width/2.0

8.5

In [5]:
height/3

4.0

In [6]:
1+2*5

11

# Q.4

In [7]:
celsius = float(input("put your temprature:"))
fahrenhite = (celsius * 9.0/5.0) + 32.0
print("Temprature in Fahrenhite =" , fahrenhite)

put your temprature:342
Temprature in Fahrenhite = 647.6

# Q.5

In [8]:
import math
num = int(input("Enter your number"))
root = math.sqrt(num)
if int(root+0.5)**2 == num:
    print(num ,"is a perfect squre")
else:
    print(num ,"is not a perfect squre")

Enter your number49
49 is a perfect squre

# Q.6

In [9]:
p = float(input(" Write your principal"))
r = float(input(" write your rate of intrest"))
t = float(input(" write your duration"))
z = (p*r*t)/100
print(z)

 Write your principal4
 write your rate of intrest5
 write your duration6
1.2

# STRING

# Q.1

In [10]:
num = 1234567
name = "nadeem"
x = "Your name is {} Your number is{}".format(name , num)
print(x)

Your name is nadeem Your number is1234567

In [11]:
str_1 ='X-DSPAM-Confidence:0.8475'
str_1.split("c")
type(str_1)

str

In [12]:
str_1.find(":")

18

In [13]:
num = str_1[19:]

# Q.2

In [14]:
my_str = "Welcome to the Course on Data Science."
my_str.split(" ")

['Welcome', 'to', 'the', 'Course', 'on', 'Data', 'Science.']

In [15]:
my_str = "Welcome to the Course on Data Science."
my_str[0:10]

'Welcome to'

In [16]:
my_str = "Welcome to the Course on Data Science."
my_str[0:8] + my_str[-8:]

'Welcome Science.'

# Q.3

In [17]:
s = ("my name is nadeem")
s.count("e")

3

# Q.4

In [18]:
s= ("my name name is nadeem and i am a good boy.")
s.count("name")

2

In [19]:
s= ("my name name is nadeem and i am a good boy.")
len(s)

43

# Q.5

In [20]:
s = "I am a student"
s[:1] + s[ -2:]

'Int'

# list

# Q.1

In [21]:
list_1  = [1,2,3,4,5,6,7]
list_1[1:6]

[2, 3, 4, 5, 6]

# Q.2

In [22]:
list_2 = ["nadeem","abubakar","nadeem","huzaifa","faizan","akram"]
set(list_2)

{'abubakar', 'akram', 'faizan', 'huzaifa', 'nadeem'}

# Q.3

In [23]:
list_3 =[1,2,3,4,5]
sum(list_3)

15

# Q.4

In [24]:
list_4 = [1,2,3,4,5,6,7,8]
a = min(list_4)
b = max(list_4)
(a,b)

(1, 8)

# Q.5

In [25]:
list_5 = [1,3,2,5,4,3,6,5,3,2,5,6]
set(list_5)

{1, 2, 3, 4, 5, 6}

# Q.6

In [26]:
list_6 = [1,2,3,4,5]
list_7 = [0,1,4,3,5]

In [27]:
b = set(list_6)
type(b)

set

In [28]:
a=set(list_7)
type(a)

set

In [29]:
b.intersection(a)

{1, 3, 4, 5}

# Q.7

In [30]:
list_8 = [1,2,3,4,5,6]
type(list_8)

list

In [31]:
a = str(list_8)
type(a)

str

# Q.8

In [32]:
list_9 = ["nadeem","abubakar"]
list_10 = [1,2,3,4]
list_9==list_10

False

# Q.9

In [33]:
list_11 = [1,2,4,3,3,4,2,4]
set(list_11)

{1, 2, 3, 4}

# Q.10

In [34]:
list_12 = [1,3,4,5,4,2,2,4,5,6]
list_12.count(2)

2

# Q.11

In [35]:
list_13 = [[2,3,4],[4,5,6,7],[8,9,0]]
print(max(list_13, key=sum))

[4, 5, 6, 7]

# Q.12

In [36]:
list_14 = ["nadeem","abubakar","faizan"]
a = []
for item in list_14:
    item = "Good " + item
    a.append(item)
print(a)

['Good nadeem', 'Good abubakar', 'Good faizan']

# Q.13

In [37]:
s = ("nadeem")
type(s)

str

In [38]:
a = list(s)
print(a)
type(a)

['n', 'a', 'd', 'e', 'e', 'm']

list

# Q.14

In [39]:
list_15 = ["nadeem"]
list_16 = ["is a good boy"]
list_15+list_16

['nadeem', 'is a good boy']

# Q.15

In [41]:
list_17 = [1,2,3,4,5,6,7]
s = []
n = 3
for x in range(n):
    s.append(list_17[x::n])
    print(s)

[[1, 4, 7]]
[[1, 4, 7], [2, 5]]
[[1, 4, 7], [2, 5], [3, 6]]

# Q.16

In [42]:
list_18 = [25,12,2]
for i in list_18:
    print(i,end='')

25122

# tuples

# Q.1

In [43]:
t = (2 ,3,4)
tuple((x,) for x in t)

((2,), (3,), (4,))

# Q.2

In [44]:
list_1 = [3,4,5,6,(3,4,"nadeem"),4,3,5,6,7,6,(2,3,4,"faizan")]
for i in list_1:
    if type(i)==tuple:
        print("tuple is found:",i)
        break

tuple is found: (3, 4, 'nadeem')

# Q.3

In [45]:
t_1 = (2,3,4,5,"nadeem")
t_2 = ("abubakar","huzaifa","faizan",3,4)
print("this is new tuple:",t_1+t_2)

this is new tuple: (2, 3, 4, 5, 'nadeem', 'abubakar', 'huzaifa', 'faizan', 3, 4)

# Q.4

In [46]:
t_3 = (2,2,3,4,5,6)
list_2 = list(t_3)
type(list_2)

list

# sets

# Q.1

In [47]:
s_1 = {1,2,3,4,5,6}
type(s_1)

set

In [48]:
6 in s_1

True

# Q.2

In [49]:
l_1 = [2,2,3,4,4,6,7]
a = set(l_1)
type(a)

set

# Q.3

In [50]:
l_2 = ["7.4656.67.1","4.4656.6"]
l_3 = ["4.4656.6","7.4656.67.1"]
l_3[1]
for i in l_2:
    if i in l_3:
        print("found",i)

found 7.4656.67.1
found 4.4656.6

# Dictionary

# Q.1

In [51]:
d_4 = {'2345':456 , '3456':345 , '3426':325}
d_4.keys()

dict_keys(['2345', '3456', '3426'])

In [52]:
d_4.values()

dict_values([456, 345, 325])

In [53]:
d_4['2345'] , d_4['3426']

(456, 325)

# Q.2

In [54]:
comm = { 'chair' : 10, 'table' : 22, 'sofa-set': 2, 'tv-unit': 0, 'fan': 10, 
        'table-lamp': 0, 'iron-box': 0, 'bed': 30 }
price = { 'chair': 2365, 'table': 37752, 'sofa-set': 23299, 'tv-unit': 120344, 'bed': 40226 }

In [ ]:
cash = 0

while True:
    entered_commodity = input("Plz Enter What You Need: ")
    if entered_commodity == "quit": 
        print("Thank You For Shopping!")
        break
    
    quantity = int(input("Plz Enter The Quantity:   "))
    if entered_commodity in comm.keys():
        print("Commoditiy Found")
        if comm[entered_commodity]>0 and quantity<=comm[entered_commodity]:
            print("In-Stock & Available")
            cash = cash + (price[entered_commodity] * quantity)
            print("Now Cash is: ", cash)
            comm[entered_commodity] = comm[entered_commodity] - quantity
            print(comm.items())

        else:
            print("Sorry, Out Of Stock OR the Quantity is More than The Available Stock.")
        
    else:
        print("Sorry, We Do Not Have What You Want.")

Plz Enter What You Need: chair
Plz Enter The Quantity:   3
Commoditiy Found
In-Stock & Available
Now Cash is:  7095
dict_items([('chair', 7), ('table', 22), ('sofa-set', 2), ('tv-unit', 0), ('fan', 10), ('table-lamp', 0), ('iron-box', 0), ('bed', 30)])
Plz Enter What You Need: table
Plz Enter The Quantity:   2
Commoditiy Found
In-Stock & Available
Now Cash is:  82599
dict_items([('chair', 7), ('table', 20), ('sofa-set', 2), ('tv-unit', 0), ('fan', 10), ('table-lamp', 0), ('iron-box', 0), ('bed', 30)])